<!-- <div  *ngIf="movieSearchList1.length == 0"> -->
<div class="marginResetting">
  <nav><a class="homeButton" routerLink="/home" routerLinkActive="active">Take Me Back Home!</a></nav>
  <br><br><br>
  <div id="searchButton" class="bg-light bg-gradient">
    <div *ngIf="!searchBoolean" style="background-color: rgb(248, 242, 255);">
<!-- <div class="input-group"> -->
      <div class="container">
        <div class="text-center">
          <h1 class="info">Search by title!  Will display a list of results.</h1>
  
          <input class="form-control" #movieSearch (keyup.enter)="searchMoviesExact(movieSearch.value)" type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <nav>
            <button class="button" (click)="searchMoviesExact(movieSearch.value)" type="button" >Search</button>
          </nav>
        </div>
      </div>
    </div>
    <div class="info" *ngIf="searchBoolean">
      <nav><button class="button" (click)="searchAgain()">Search Again</button></nav>
      <h2 class="results">Results:</h2>
      <div class="info" id="lists" *ngFor="let movie of movieSearchList1">
        <h1 class="title1">Title: {{movie.title}}</h1>
        <p style="font-size: 20px;">Year: {{movie.releaseYear}}</p>
        <p style="font-size: 20px;">IMDB Rating: {{movie.rating/10}}/10</p>
      </div>
    </div>
  </div>
</div>
