<div class="marginResetting">
  <nav><a class="homeButton" routerLink="/home" routerLinkActive="active">Take Me Back Home!</a></nav>
  <div class="startButton" id="Quiz" *ngIf="!startButtonPressed">
      <div class="container">
      <nav>
        <button class="test" id="startButton" (click)="getTopRatedMovies()">Start!</button>  
      </nav>  
    </div>
  </div>
  <div id="test" *ngIf="!testFinished; else testIsFinished">
    <br><br><br>
        <div class="container-md">
          <p class="Question" id="Question"></p>
        </div>
          <body id="buttons" class="body1">
            <nav>
            <div class="container"> 
              <button class="buttons"  (click)="clicked1()" id="answer0" name="box"></button>
            </div><br>
            <div class="container">
              <button class="buttons"  (click)="clicked2()" id="answer1" name="box"></button>
            </div><br>  
            <div class="container">
              <button class="buttons" (click)="clicked3()" id="answer2" name="box"></button>
            </div><br>
            <div class="container">
              <button class="buttons" (click)="clicked4()" id="answer3" name="box"></button>
            </div><br>
          </nav>
          </body>
    </div>  
<ng-template #testIsFinished> 
  <div *ngIf="quizScore >= 6">
    <br><br><br>
    <div class="passed">
    <h1 style="font-size: 50px;">Congratulations!</h1> 
    <p style="font-size: 35px;"> You passed! You scored {{quizScore}} out of 10! </p>
    </div>
    <body class="failedButton">
    <button class="btn btn-success"  (click)="tryAgain()">Play again?</button>
  </body>
  </div> 
<div *ngIf="quizScore <= 5">
  <br><br><br>
    <div class="failed">
    <h1 style="font-size: 50px;">Oh no!  Sorry!</h1>
    <p style="font-size: 35px;"> You failed.  You scored {{quizScore}} out of 10! </p>
    <div>
    <body class="failedButton">
      <button  class="btn btn-danger" (click)="tryAgain()">Try again?</button>
    </body>
  </div>
  </div>
</div>
  <div *ngIf="saveScoreBoolean">
  <div class="saveLink">
    <button class="btn btn btn-info" (click)="saveScore()">Save your score?</button>
  </div>
</div>
</ng-template>
</div>